* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
nav {
    background-color: #0080FF;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a strong {
    font-size: 30px;
}
.name {
    margin: -20px 0px 0px 0px;
}